In [1]:
import pandas as pd 
data = pd.read_csv('/home/vedant/Genome/Genome_Prediction/Selected_data/train_genetic_disorders.csv')

In [2]:
print(len(data))

19643

In [3]:
data.describe()

        Patient_Age  No_of_abortion     Symptom_1     Symptom_2     Symptom_3
count  19643.000000    17756.000000  17791.000000  17747.000000  17826.000000
mean       6.974851        1.996846      0.592097      0.552206      0.536520
std        4.322584        1.411180      0.491459      0.497281      0.498679
min        0.000000        0.000000      0.000000      0.000000      0.000000
25%        3.000000        1.000000      0.000000      0.000000      0.000000
50%        7.000000        2.000000      1.000000      1.000000      1.000000
75%       11.000000        3.000000      1.000000      1.000000      1.000000
max       14.000000        4.000000      1.000000      1.000000      1.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19643 entries, 0 to 19642
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patient_Age                   19643 non-null  float64
 1   Genes_in_mother               19643 non-null  object
 2   Inherited_from_father         19385 non-null  object
 3   Maternal_gene                 17199 non-null  object
 4   Paternal_gene                 19643 non-null  object
 5   Status                        19643 non-null  object
 6   Respiratory_Rate              17771 non-null  object
 7   Heart_Rate                    17804 non-null  object
 8   Follow_up                     17753 non-null  object
 9   Gender                        17770 non-null  object
 10  Birth_asphyxia                17772 non-null  object
 11  Autopsy_birth_defect          15769 non-null  object
 12  Folic_acid                    17819 non-null  object
 13  Serious_maternal_illness      17786 non-null  object
 14  Radiation_exposure            17788 non-null  object
 15  Substance_abuse               17740 non-null  object
 16  Assisted_conception           17849 non-null  object
 17  Previous_pregnancy_anomalies  17774 non-null  object
 18  No_of_abortion                17756 non-null  float64
 19  Birth_defects                 17796 non-null  object
 20  Blood_test_result             17798 non-null  object
 21  Symptom_1                     17791 non-null  float64
 22  Symptom_2                     17747 non-null  float64
 23  Symptom_3                     17826 non-null  float64
dtypes: float64(5), object(19)
memory usage: 3.6+ MB

In [5]:
data.dropna(subset=['Patient_Age'],how='any',inplace = True)

In [6]:
print(len(data))

19643

In [7]:
co = data.columns
coun=0
for c in co :
    coun+=1
    print(c)
    print(data[c].unique())

print(coun)

Patient_Age
[ 2.  4.  6. 12. 11. 14.  3.  7.  1.  0. 10.  5. 13.  8.  9.]
Genes_in_mother
['Yes' 'No']
Inherited_from_father
['No' 'Yes' nan]
Maternal_gene
['Yes' 'No' nan]
Paternal_gene
['No' 'Yes']
Status
['Alive' 'Deceased']
Respiratory_Rate
['Normal (30-60)' 'Tachypnea' nan]
Heart_Rate
['Normal' 'Tachycardia' nan]
Follow_up
['High' 'Low' nan]
Gender
[nan 'Male' 'Female' 'Ambiguous']
Birth_asphyxia
[nan 'No' 'No record' 'Not available' 'Yes']
Autopsy_birth_defect
['Not applicable' nan 'No' 'Yes']
Folic_acid
['No' 'Yes' nan]
Serious_maternal_illness
[nan 'Yes' 'No']
Radiation_exposure
['No' 'Not applicable' 'Yes' '-' nan]
Substance_abuse
['No' 'Not applicable' nan '-' 'Yes']
Assisted_conception
['No' 'Yes' nan]
Previous_pregnancy_anomalies
['Yes' 'No' nan]
No_of_abortion
[nan  4.  1.  0.  3.  2.]
Birth_defects
[nan 'Multiple' 'Singular']
Blood_test_result
[nan 'normal' 'inconclusive' 'slightly abnormal' 'abnormal']
Symptom_1
[ 1.  0. nan]
Symptom_2
[ 1. nan  0.]
Symptom_3
[ 1.  0. nan]
24

In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Columns for label encoding
columns_to_encode = [
    'Genes_in_mother',
    'Inherited_from_father',
    'Maternal_gene',
    'Paternal_gene',
    'Status',
    'Follow_up',
    'Gender',
    'Birth_asphyxia',
    'Autopsy_birth_defect',
    'Folic_acid',
    'Serious_maternal_illness',
    'Radiation_exposure',
    'Substance_abuse',
    'Assisted_conception',
    'Previous_pregnancy_anomalies',
    'Birth_defects',
    'Blood_test_result',
    'Respiratory_Rate',
    'Heart_Rate'
]

label_encoder = LabelEncoder()

for column in columns_to_encode :

    data[column] = label_encoder.fit_transform(data[column])

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19643 entries, 0 to 19642
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patient_Age                   19643 non-null  float64
 1   Genes_in_mother               19643 non-null  int64
 2   Inherited_from_father         19643 non-null  int64
 3   Maternal_gene                 19643 non-null  int64
 4   Paternal_gene                 19643 non-null  int64
 5   Status                        19643 non-null  int64
 6   Respiratory_Rate              19643 non-null  int64
 7   Heart_Rate                    19643 non-null  int64
 8   Follow_up                     19643 non-null  int64
 9   Gender                        19643 non-null  int64
 10  Birth_asphyxia                19643 non-null  int64
 11  Autopsy_birth_defect          19643 non-null  int64
 12  Folic_acid                    19643 non-null  int64
 13  Serious_maternal_illness      19643 non-null  int64
 14  Radiation_exposure            19643 non-null  int64
 15  Substance_abuse               19643 non-null  int64
 16  Assisted_conception           19643 non-null  int64
 17  Previous_pregnancy_anomalies  19643 non-null  int64
 18  No_of_abortion                17756 non-null  float64
 19  Birth_defects                 19643 non-null  int64
 20  Blood_test_result             19643 non-null  int64
 21  Symptom_1                     17791 non-null  float64
 22  Symptom_2                     17747 non-null  float64
 23  Symptom_3                     17826 non-null  float64
dtypes: float64(5), int64(19)
memory usage: 3.6 MB

In [10]:
data['No_of_abortion']=data['No_of_abortion'].fillna(0)
data['Symptom_1']=data['Symptom_1'].fillna(2)
data['Symptom_2']=data['Symptom_2'].fillna(2)
data['Symptom_3']=data['Symptom_3'].fillna(2)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19643 entries, 0 to 19642
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patient_Age                   19643 non-null  float64
 1   Genes_in_mother               19643 non-null  int64
 2   Inherited_from_father         19643 non-null  int64
 3   Maternal_gene                 19643 non-null  int64
 4   Paternal_gene                 19643 non-null  int64
 5   Status                        19643 non-null  int64
 6   Respiratory_Rate              19643 non-null  int64
 7   Heart_Rate                    19643 non-null  int64
 8   Follow_up                     19643 non-null  int64
 9   Gender                        19643 non-null  int64
 10  Birth_asphyxia                19643 non-null  int64
 11  Autopsy_birth_defect          19643 non-null  int64
 12  Folic_acid                    19643 non-null  int64
 13  Serious_maternal_illness      19643 non-null  int64
 14  Radiation_exposure            19643 non-null  int64
 15  Substance_abuse               19643 non-null  int64
 16  Assisted_conception           19643 non-null  int64
 17  Previous_pregnancy_anomalies  19643 non-null  int64
 18  No_of_abortion                19643 non-null  float64
 19  Birth_defects                 19643 non-null  int64
 20  Blood_test_result             19643 non-null  int64
 21  Symptom_1                     19643 non-null  float64
 22  Symptom_2                     19643 non-null  float64
 23  Symptom_3                     19643 non-null  float64
dtypes: float64(5), int64(19)
memory usage: 3.6 MB

In [13]:
print(len(data))

19643

In [12]:
data.to_csv('cleaned data.csv',index=None)